<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>我的記帳本</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light " style="display:flex;flex-flow:row">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">我的記帳本</a>
    <div class="navbar-right dropstart">
      
      {{#if isAuthenticated}}
        <li class="nav-item dropdown" style="list-style-type:none;">
          <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.photo }}" id="avatarNav"></img>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 200px;">
            <div class="card border-0">
              <div class="row g-0">
                <div class="col-md-5" style="display:flex;justify-content:center;align-items:center">
                  <img src="{{ user.photo }}" id="avatarNavmenu"></img>
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <p class="card-title" style="font-weight:bold;  font-size:large;">{{ user.name }}</p>
                    <p class="card-text" style="color:blue; font-size:small;"><a href="/users/setting" style="text-decoration: none;">修改資料</a></p>
                  </div>
                </div>
              </div>
            </div>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> 登出</a></li>
          </ul>
        </li>   
      {{else}}
      <a href="/users/login"><button class="btn btn-outline-secondary my-2 my-sm-0">登入</button></a>
      {{/if}}
    </div>
  </div>
  </nav>

  <div class="container mb-5">
    {{{ body }}}
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>