<div class="form-row mt-5" id="formNewEditPage">
  <form action="/records/{{#if categoryError}}{{ id }}{{else}}{{ record._id }}{{/if}}?_method=PUT" method="POST" class="needs-validation" novalidate>

    <div class="form-group col-12">
      <label for="name">名稱</label>
      <input type="text" class="form-control" name="name" id="name" {{#if categoryError}}value="{{ name }}"{{else}}value="{{record.name}}"{{/if}} required>
      <div class="invalid-feedback">必填欄位</div>
    </div>

    <div class="form-group col-12">
      <label for="date">日期</label>
      <input type="date" class="form-control" id="date" name="date" {{#if categoryError}}value="{{ date }}"{{else}}value="{{record.date}}"{{/if}} required>
    </div>


    <div class="form-group col-12 mt-3">
      <label for="category">類別</label>
      <select class="selectIncome form-select" name="category">
        {{#each categories}}
        <option value="{{ record.category }}">{{ this.category }}</option>
        {{/each}}
      </select>
    </div>


    <div class="form-group col-12">
      <label for="amount">金額</label>
      <input type="number" class="form-control" name="amount" id="amount" {{#if categoryError}}value="{{ amount }}"{{else}}value="{{record.amount}}"{{/if}} required>
      <div class="invalid-feedback">必填欄位</div>
    </div>

    <div class="form-group col-12">
      <label for="merchant">商家</label>
      <input type="text" class="form-control" name="merchant" id="merchant" {{#if categoryError}}value="{{ merchant }}"{{else}}value="{{record.amount}}"{{/if}} required>
      <div class="invalid-feedback">必填欄位</div>
    </div>

  <div style="text-align: center; margin-top:1rem;">
    <button id="submit" class="btn btn-warning">儲存</button>
    <a href="/" class="btn btn-warning">返回</a>
  </div>
  </form> 
</div>


<script>
  const submitButton = document.querySelector('#submit')
  const form = document.querySelector('form')


  submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
    form.classList.add('was-validated')
  })

  form.addEventListener('submit', function onFormSubmit(event) {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }
  })
</script>