<div id="selectCategory">
  <form action="/search" method="GET">
    <select name="chooseCategory" class="form-select" onchange="submit()">
      <option selected disabled>選擇類別</option>
      {{#each categories}}
        <option value="{{ this.category }}">{{ this.category }}</option>
      {{/each}}
  </select>
</form>
</div>

<div id="showTotalAmount">
  <h3>總金額 : <span id="formatTotalAmount">{{ totalAmount }}</span></h3>
</div>


<div class="list-group list-group-flush" style="border: 1px;">
  {{#each records}}
  <div class="row" id="showOneItem">
    <div id="showGroup" class="col-9 mt-1 mb-1">
      {{!-- icon --}}
      <div id="showIconIncomeOrExpenses"class="col-3" style="align-self: center">
        <i id="categoryIcon"class="fas fa-question-circle fa-4x"></i>
        <div id="showIncomeOrExpenses">{{this.incomeOrExpenses}}</div>
      </div>

      <div class="col-9" id="showNameCategoryDateAmount">

        <div id="showNameCategoryDate" class="col-8">
          <div id="showNameCategory">{{this.category}} / {{this.name}}</div>
          <div id="showDate">{{this.date}}</div>               
        </div>

        <div id="showAmount" class="col-4">
          <div class="list-group-item">{{this.amount}}</div>
        </div>

      </div>
    </div>

    <div class="col-3" style="align-self: center">
      <a class="btn btn-outline-success" href='/records/{{ this._id }}/edit'>Edit</a>
      <form action='./records/ {{ this._id }}/delete' method="post" style="display:inline">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
      </form>
    </div>

  </div>
  {{/each}}

</div>