<div id="selectCategory">
  <select name="chooseCategory" class="form-select" onchange="location = this.value;">
    <option value="./">所有類別</option>
    {{#each categories}}
      <option value="/search?chooseCategory={{ this.category }}" {{#is this.category ../chooseCategory}}selected{{/is}}>{{ this.category }}</option>
    {{/each}}
  </select>
</div>

<div id="showTotalAmount">
  <h3>總金額 : <span id="formatTotalAmount">{{ totalAmount }}</span></h3>
</div>

<div class="list-group list-group-flush" style="border: 1px; padding:1rem;">
  {{#if records}}
  {{#each records}}
  <div class="row" id="showOneItem">
    <div id="showGroup" class="col-9 mt-1 mb-1">
      {{!-- icon --}}
      <div id="showIconIncomeOrExpenses"class="col-3" style="align-self: center">
        <i id="categoryIcon"class="{{getIcon this.category ../categories}} fa-3x" style="width:60px; height:60px;"></i>
        <span class="badge rounded-pill bg-warning text-dark" id="showIncomeOrExpenses">{{this.incomeOrExpenses}}</span>
      </div>

      <div class="col-9" id="showNameCategoryDateAmount">

        <div id="showNameCategoryDate" class="col-8">
          <span class="badge bg-light text-dark" id="showNameCategory">{{this.category}} / {{this.name}}</span>
          <span class="badge bg-light text-dark" id="showDate">{{this.date}}</span>               
        </div>

        <div id="showAmount" class="col-4" style="text-align:center">
          <div class="list-group-item">{{this.amount}}</div>
        </div>

      </div>
    </div>

    <div class="col-3" style="align-self: center">
      <a class="btn btn-outline-success" href='/records/{{ this._id }}/edit'>Edit</a>
      <form action='./records/ {{ this._id }}/delete' method="post" style="display:inline">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
      </form>
    </div>

  </div>
  {{/each}}
  {{else}}
    <div style="text-align: center"><p style="display:inline">目前沒有資料，新增一筆吧... </p><i class="fas fa-pen"></i></div>
  {{/if}}
</div>