{{!--   <li>{{this.name}}</li>
  <li>{{this.incomeOrExpenses}}</li>
  <li>{{this.category}}</li>
  <li>{{this.date}}</li>
  <li>{{this.amount}}</li> --}}

<ul class="list-group list-group-flush">
  {{#each records}}
  
  <li class="list-group-item">{{this.name}}</li>
  {{/each}}
</ul>