
<div class="form-row mt-5" id="formNewEditPage">
  <form action="/records" method="POST" class="needs-validation" novalidate>

    <div class="form-group col-12">
      <label for="name">名稱</label>
      <input type="text" class="form-control" name="name" id="name" value="{{ name }}" required>
      <div class="invalid-feedback">必填欄位</div>
    </div>

    <div class="form-group col-12 mt-3">
      <label for="date">日期</label>
      <input type="date" class="form-control" id="date" name="date" value="{{ date }}">
    </div>

    <div class="form-group col-12 mt-3">
      <label for="category">類別</label>
      <select class="selectIncome form-select" name="category">
        <option disabled selected>請選擇類別</option>
        {{#each categories}}
        <option>{{ this.category }}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group col-12 mt-3">
      <label for="amount">金額</label>
      <input type="number" class="form-control" name="amount" id="amount" value="{{ amount }}" required>
      <div class="invalid-feedback">必填欄位</div>
    </div>

    <div class="form-group col-12 mt-3">
      <label for="merchant">商家/公司</label>
      <input type="text" class="form-control" name="merchant" id="merchant" value="{{ merchant }}" required>
      <div class="invalid-feedback">必填欄位</div>
    </div>
    
    <div style="text-align: center; margin-top:1rem;">
      <button id="submit" class="btn btn-warning">建立</button>
      <a href="/" class="btn btn-warning">返回</a>
    </div>
  </form>
</div>


<script>

  const submitButton = document.querySelector('#submit')
  const form = document.querySelector('form')

  submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
    form.classList.add('was-validated')
  })

  form.addEventListener('submit', function onFormSubmit(event) {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }
  })
</script>